.detalheJogo-img {
    height: 100px; 
    width: 50%; 
    position: relative;
    margin: auto !important;
}
.detalheJogo-img > img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    padding: 5px;
}

.detalheJogo > div{
    margin: 10px;
}

.mais-comentarios {
    padding: 5px;
    float: right;
    text-decoration: underline;
    color: blue;
    position: relative;
    top: -15px;
    right: 10px;
}

.comentario{
    display: flex;
    justify-content: space-between;
}
.comentario-mensagem:first-letter {
    text-transform: uppercase;
}
.comentario-data {
    font-size: 10px;
    color: darkslategray;
    position: relative;
    top:-7px;
}

.comentario-nota {
    
}