<!--
  Generated template for the DetalheJogoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhe do jogo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="detalheJogo">
        <div class="detalheJogo-img">
            <img *ngIf="_jogo._img != null"src="{{_jogo._img}}" />
            <img *ngIf="_jogo._img == null" src="https://cdn0.iconfinder.com/data/icons/social-media-2104/24/social_media_social_media_logo_steam-512.png" />
        </div>
        <div>
            <span>Nome:{{_jogo._nome}}</span>
        </div>

        <div>
            <span>Descrição:{{_jogo._descricao}}</span>
        </div>
        
        <div>
            <span>Categoria:{{_jogo._categoria}}</span>
        </div>

        <div (click)="irParaVerComentarios(_jogo._id)">
            <ion-card *ngFor="let comentario of _jogo._comentarios; let i = index" [attr.data-index]="i">
                <ion-card-content *ngIf="i == 0">
                    <div class="comentario">
                        <h2><strong> {{comentario._autor}}</strong></h2>
                        <span class="comentario-nota">Nota: {{comentario._nota}}</span>
                    </div>
                    <span class="comentario-data">{{comentario._data | date:"short" }}</span>
                    <p class="comentario-mensagem">{{comentario._comentario}}</p>
                </ion-card-content>
            </ion-card>
            <div class="mais-comentarios"> Ver mais comentários </div>
        </div>

        <div *ngIf="!_possuiComentario">
            <button (click)="irParaCriarComentario()" ion-button color="primary" block>Criar comentário</button>
        </div>

        <div *ngIf="_possuiComentario">
            <button  (click)="irParaCriarComentario()" style="margin-bottom:15px; margin-top:15px" ion-button color="secondary" block>Editar comentário</button>
            <button  (click)="deletarComentario()" ion-button color="danger" block>Excluir comentário</button>
        </div>
    </div>
</ion-content>
